@import "tailwindcss";

:root {
  --background: #c79292;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #413333;
    --foreground: #2d1566;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes catch {
  0% { transform: scale(1) rotate(0); }
  25% { transform: scale(1.1) rotate(-10deg); }
  50% { transform: scale(1.1) rotate(10deg); }
  75% { transform: scale(1.05) rotate(-5deg); }
  100% { transform: scale(0.8); }
}

.animate-catch {
  animation: catch 0.6s ease-in-out forwards;
}

